@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
  nav, header {
    background: #20232a;
    box-shadow: 0 0 0 !important;
    position: sticky;
    z-index: 9;
    top: 0;
  }
  .brand-logo {
    font-family: 'Pacifico', cursive;
    color: #61dafb !important;
}

.card .card-image .card-title {
  position: static !important;
}
#nav-mobile li a.active {
    background: #131313;
}
  .logo {
    width:30px
  }


.ptb-50px {padding:50px 0}

.user_info img {
    width: 40px;
    border-radius: 100px;
    position: absolute;
    right: 23px;
    top: 14px;
}
.text-black {color:#000}

.activator img {
    width: 40px;
    display: block;
    border-radius: 4px;
    margin-bottom: 15px;
}
.material-icons {vertical-align: text-bottom !important;}

body, p, h1, h2{font-family: 'Sen', sans-serif;}
p {
    line-height: 30px;
    color: #232323;
}
.blog {width: 600px; margin: auto; display: block;}

.card-content p {
    min-height: 130px;
}

.progress-bar {
    position: absolute;
    height: 5px;
    background: #61dafb;
    top: 64px;
    width: 100%;
    transition: all 0.3s;
}

input {  padding: 0px 15px !important;}
input, textarea {
  border: solid 1px #e8e8e8 !important;
  box-sizing: border-box !important;
  margin-bottom: 20px !important;
}

  
textarea {resize: none; min-height: 100px; padding: 15px !important;}
textarea:focus {outline: none;}

label {
  font-size: 14px;
  color: #696969;
  margin-bottom: 10px !important;
  display: block;
}
.text-center {text-align: center;}
.girl {
  width: 200px;
    margin-top: 50px;
}